#message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 1;
  position: relative;

  .timestamp {
    position: absolute;
    top: 3px;
    right: 10px;
    color: #999;
    font-size: 0.8em;
  }
  
  &.info {
    padding: 10px;
    text-align: center;
    background-color: #eee;
    margin-left: -10px;
    margin-right: -10px;
    color: #999;
    font-size: 0.9em;
  }

  &.left .avatar {
    background-color: #f5886e;
    float: left;
  }
  &.left .text_wrapper {
    background-color: #ffe6cb;
    margin-left: 20px;
    &::after, &::before {
      right: 100%;
      border-right-color: #ffe6cb;
    }
  }
  &.left .text {
    color: #c48843;
  }
  &.right .avatar {
    background-color: #fdbf68;
    float: right;
  }
  &.right .text_wrapper {
    background-color: #c7eafc;
    margin-right: 20px;
    float: right;
    &::after, &::before {
      left: 100%;
      border-left-color: #c7eafc;
    }
  }
  &.right .text {
    color: #45829b;
  }
  &.appeared {
    opacity: 1;
  }
  .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
  }
  .text_wrapper {
    display: inline-block;
    padding: 20px;
    width: auto;
    border-radius: 6px;
    min-width: 120px;
    max-width: calc(100% - 85px);
    position: relative;
    &::after {
      border-width: 13px;
      margin-top: 0px;
    }
    &::before {
      border-width: 15px;
      margin-top: -2px;
    }
    .text {
      font-size: 18px;
      font-weight: 300;
      overflow-wrap: break-word;
      word-wrap: break-word;
      -ms-word-break: break-all;
      word-break: break-word;
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }
  }
  .text_wrapper::after, .text_wrapper:before {
    top: 18px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
}